.container {
  position: relative;
  text-align: center;
  font-size: 2rem;
}
.value {
  position: absolute;
  align-items: center;
}
.btn {
  /* position: absolute; */
  background-color: lightseagreen;
  color: white;
  border-radius: 10%;
  transition: all 0.5s;
}
.btn:hover {
  background-color: black;
}
